In [1]:
import pandas as pd

In [2]:
energia_2022 = pd.read_csv('energia_2022.csv', encoding='utf-8')
energia_2022['Injeção na rede (kWh)'].fillna("None", inplace=True)

In [3]:
meteo_2022 = pd.read_csv('meteo_2022.csv', encoding='utf-8')
meteo_2022.rename(columns={'dt_iso': 'Data & Hora'}, inplace=True)

In [4]:
energia_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               8760 non-null   int64
 1   Normal (kWh)             8760 non-null   float64
 2   Horário Económico (kWh)  8760 non-null   float64
 3   Autoconsumo (kWh)        8760 non-null   float64
 4   Injeção na rede (kWh)    8760 non-null   object
 5   Data & Hora              8760 non-null   object
dtypes: float64(3), int64(1), object(2)
memory usage: 410.8+ KB

In [5]:
meteo_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           8760 non-null   int64
 1   Data & Hora          8760 non-null   object
 2   temp                 8760 non-null   float64
 3   feels_like           8760 non-null   float64
 4   temp_min             8760 non-null   float64
 5   temp_max             8760 non-null   float64
 6   pressure             8760 non-null   int64
 7   humidity             8760 non-null   int64
 8   wind_speed           8760 non-null   float64
 9   clouds_all           8760 non-null   int64
 10  weather_description  8760 non-null   object
dtypes: float64(5), int64(4), object(2)
memory usage: 752.9+ KB

In [6]:
df_2022 = pd.merge(energia_2022, meteo_2022, on='Data & Hora')

In [7]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0_x             8760 non-null   int64
 1   Normal (kWh)             8760 non-null   float64
 2   Horário Económico (kWh)  8760 non-null   float64
 3   Autoconsumo (kWh)        8760 non-null   float64
 4   Injeção na rede (kWh)    8760 non-null   object
 5   Data & Hora              8760 non-null   object
 6   Unnamed: 0_y             8760 non-null   int64
 7   temp                     8760 non-null   float64
 8   feels_like               8760 non-null   float64
 9   temp_min                 8760 non-null   float64
 10  temp_max                 8760 non-null   float64
 11  pressure                 8760 non-null   int64
 12  humidity                 8760 non-null   int64
 13  wind_speed               8760 non-null   float64
 14  clouds_all               8760 non-null   int64
 15  weather_description      8760 non-null   object
dtypes: float64(8), int64(5), object(3)
memory usage: 1.1+ MB

In [8]:
df_2022.drop('Unnamed: 0_x', axis=1, inplace=True)
df_2022.drop('Unnamed: 0_y', axis=1, inplace=True)

In [9]:
df_2022.to_csv("_2022.csv", encoding='utf-8')