In [1]:
import pandas as pd
from datetime import date, time

In [2]:
energia_2022 = pd.read_csv('energia_202201-202212.csv', encoding='IBM860')

In [3]:
energia_2022.head()

,Data,Hora,Normal (kWh),Horßrio Econ≤mico (kWh),Autoconsumo (kWh),Injeτπo na rede (kWh)
0,2022-01-01,0,0.0,0.486,0.0,NaN
1,2022-01-01,1,0.0,0.429,0.0,NaN
2,2022-01-01,2,0.0,0.463,0.0,NaN
3,2022-01-01,3,0.0,0.545,0.0,NaN
4,2022-01-01,4,0.0,0.439,0.0,NaN

In [4]:
energia_2022.rename(columns={'Horßrio Econ≤mico (kWh)': 'Horário Económico (kWh)'}, inplace=True)
energia_2022.rename(columns={'Injeτπo na rede (kWh)': 'Injeção na rede (kWh)'}, inplace=True)
energia_2022.columns

Index(['Data', 'Hora', 'Normal (kWh)', 'Horário Económico (kWh)',
       'Autoconsumo (kWh)', 'Injeção na rede (kWh)'],
      dtype='object')

In [5]:
energia_2022.duplicated().sum()

0

In [6]:
energia_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Data                     8760 non-null   object
 1   Hora                     8760 non-null   int64
 2   Normal (kWh)             8760 non-null   float64
 3   Horário Económico (kWh)  8760 non-null   float64
 4   Autoconsumo (kWh)        8760 non-null   float64
 5   Injeção na rede (kWh)    2673 non-null   object
dtypes: float64(3), int64(1), object(2)
memory usage: 410.8+ KB

In [7]:
set (energia_2022['Injeção na rede (kWh)'])

{'High', 'Low', 'Medium', 'Very High', nan}

In [8]:
energia_2022['Injeção na rede (kWh)'].fillna("None", inplace=True)
set (energia_2022['Injeção na rede (kWh)'])

{'High', 'Low', 'Medium', 'None', 'Very High'}

In [9]:
energia_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Data                     8760 non-null   object
 1   Hora                     8760 non-null   int64
 2   Normal (kWh)             8760 non-null   float64
 3   Horário Económico (kWh)  8760 non-null   float64
 4   Autoconsumo (kWh)        8760 non-null   float64
 5   Injeção na rede (kWh)    8760 non-null   object
dtypes: float64(3), int64(1), object(2)
memory usage: 410.8+ KB

In [10]:
lista = []
for i in range (energia_2022['Data'].size):
    s = energia_2022['Data'][i] + " " + str(energia_2022['Hora'][i]) + ":00"
    lista.append (s)

energia_2022['Data & Hora'] = lista
energia_2022['Data & Hora'] = pd.to_datetime (energia_2022['Data & Hora'], format = '%Y-%m-%d %H:%M')

energia_2022.drop('Data', axis=1, inplace=True)
energia_2022.drop('Hora', axis=1, inplace=True)

In [11]:
energia_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Normal (kWh)             8760 non-null   float64
 1   Horário Económico (kWh)  8760 non-null   float64
 2   Autoconsumo (kWh)        8760 non-null   float64
 3   Injeção na rede (kWh)    8760 non-null   object
 4   Data & Hora              8760 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 342.3+ KB

In [12]:
energia_2022.to_csv("energia_2022.csv", encoding='utf-8')