In [1]:
import pandas as pd

In [2]:
energia_2021 = pd.read_csv('energia_2021.csv', encoding='utf-8')
energia_2021['Injeção na rede (kWh)'].fillna("None", inplace=True)

In [3]:
meteo_2021 = pd.read_csv('meteo_2021.csv', encoding='utf-8')

In [4]:
energia_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2256 entries, 0 to 2255
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               2256 non-null   int64
 1   Normal (kWh)             2256 non-null   float64
 2   Horário Económico (kWh)  2256 non-null   float64
 3   Autoconsumo (kWh)        2256 non-null   float64
 4   Injeção na rede (kWh)    2256 non-null   object
 5   Data & Hora              2256 non-null   object
dtypes: float64(3), int64(1), object(2)
memory usage: 105.9+ KB

In [5]:
meteo_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2928 entries, 0 to 2927
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           2928 non-null   int64
 1   Data & Hora          2928 non-null   object
 2   temp                 2928 non-null   float64
 3   feels_like           2928 non-null   float64
 4   temp_min             2928 non-null   float64
 5   temp_max             2928 non-null   float64
 6   pressure             2928 non-null   int64
 7   humidity             2928 non-null   int64
 8   wind_speed           2928 non-null   float64
 9   clouds_all           2928 non-null   int64
 10  weather_description  2928 non-null   object
dtypes: float64(5), int64(4), object(2)
memory usage: 251.8+ KB

In [6]:
df_2021 = pd.merge(energia_2021, meteo_2021, on='Data & Hora')

In [7]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2256 entries, 0 to 2255
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0_x             2256 non-null   int64
 1   Normal (kWh)             2256 non-null   float64
 2   Horário Económico (kWh)  2256 non-null   float64
 3   Autoconsumo (kWh)        2256 non-null   float64
 4   Injeção na rede (kWh)    2256 non-null   object
 5   Data & Hora              2256 non-null   object
 6   Unnamed: 0_y             2256 non-null   int64
 7   temp                     2256 non-null   float64
 8   feels_like               2256 non-null   float64
 9   temp_min                 2256 non-null   float64
 10  temp_max                 2256 non-null   float64
 11  pressure                 2256 non-null   int64
 12  humidity                 2256 non-null   int64
 13  wind_speed               2256 non-null   float64
 14  clouds_all               2256 non-null   int64
 15  weather_description      2256 non-null   object
dtypes: float64(8), int64(5), object(3)
memory usage: 282.1+ KB

In [8]:
df_2021.drop('Unnamed: 0_x', axis=1, inplace=True)
df_2021.drop('Unnamed: 0_y', axis=1, inplace=True)

In [9]:
df_2021.to_csv("_2021.csv", encoding='utf-8')