In [1]:
import pandas as pd
from datetime import date, time

In [2]:
energia_2021 = pd.read_csv('energia_202109-202112.csv', encoding='IBM860')

In [3]:
energia_2021.head()

,Data,Hora,Normal (kWh),Horßrio Econ≤mico (kWh),Autoconsumo (kWh),Injeτπo na rede (kWh)
0,2021-09-29,0,0.0,0.0,0.0,NaN
1,2021-09-29,1,0.0,0.0,0.0,NaN
2,2021-09-29,2,0.0,0.0,0.0,NaN
3,2021-09-29,3,0.0,0.0,0.0,NaN
4,2021-09-29,4,0.0,0.0,0.0,NaN

In [4]:
energia_2021.rename(columns={'Horßrio Econ≤mico (kWh)': 'Horário Económico (kWh)'}, inplace=True)
energia_2021.rename(columns={'Injeτπo na rede (kWh)': 'Injeção na rede (kWh)'}, inplace=True)
energia_2021.columns

Index(['Data', 'Hora', 'Normal (kWh)', 'Horário Económico (kWh)',
       'Autoconsumo (kWh)', 'Injeção na rede (kWh)'],
      dtype='object')

In [5]:
energia_2021.duplicated().sum()

0

In [6]:
energia_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2256 entries, 0 to 2255
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Data                     2256 non-null   object
 1   Hora                     2256 non-null   int64
 2   Normal (kWh)             2256 non-null   float64
 3   Horário Económico (kWh)  2256 non-null   float64
 4   Autoconsumo (kWh)        2256 non-null   float64
 5   Injeção na rede (kWh)    566 non-null    object
dtypes: float64(3), int64(1), object(2)
memory usage: 105.9+ KB

In [7]:
set (energia_2021['Injeção na rede (kWh)'])

{'High', 'Low', 'Medium', 'Very High', nan}

In [8]:
energia_2021['Injeção na rede (kWh)'].fillna("None", inplace=True)
set (energia_2021['Injeção na rede (kWh)'])

{'High', 'Low', 'Medium', 'None', 'Very High'}

In [9]:
energia_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2256 entries, 0 to 2255
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Data                     2256 non-null   object
 1   Hora                     2256 non-null   int64
 2   Normal (kWh)             2256 non-null   float64
 3   Horário Económico (kWh)  2256 non-null   float64
 4   Autoconsumo (kWh)        2256 non-null   float64
 5   Injeção na rede (kWh)    2256 non-null   object
dtypes: float64(3), int64(1), object(2)
memory usage: 105.9+ KB

In [10]:
lista = []
for i in range (energia_2021['Data'].size):
    s = energia_2021['Data'][i] + " " + str(energia_2021['Hora'][i]) + ":00"
    lista.append (s)

energia_2021['Data & Hora'] = lista
energia_2021['Data & Hora'] = pd.to_datetime (energia_2021['Data & Hora'], format = '%Y-%m-%d %H:%M')

energia_2021.drop('Data', axis=1, inplace=True)
energia_2021.drop('Hora', axis=1, inplace=True)

In [11]:
energia_2021.head()

,Normal (kWh),Horário Económico (kWh),Autoconsumo (kWh),Injeção na rede (kWh),Data & Hora
0,0.0,0.0,0.0,None,2021-09-29 00:00:00
1,0.0,0.0,0.0,None,2021-09-29 01:00:00
2,0.0,0.0,0.0,None,2021-09-29 02:00:00
3,0.0,0.0,0.0,None,2021-09-29 03:00:00
4,0.0,0.0,0.0,None,2021-09-29 04:00:00

In [12]:
energia_2021.to_csv("energia_2021.csv", encoding='utf-8')