In [18]:
import pandas as pd

In [19]:
energia_2023 = pd.read_csv('energia_2023.csv', encoding='utf-8')

In [20]:
meteo_2023 = pd.read_csv('meteo_2023.csv', encoding='utf-8')

In [21]:
energia_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2256 entries, 0 to 2255
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               2256 non-null   int64
 1   Normal (kWh)             2256 non-null   float64
 2   Horário Económico (kWh)  2256 non-null   float64
 3   Autoconsumo (kWh)        2256 non-null   float64
 4   Data & Hora              2256 non-null   object
dtypes: float64(3), int64(1), object(1)
memory usage: 88.3+ KB

In [22]:
meteo_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1752 entries, 0 to 1751
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1752 non-null   int64
 1   Data & Hora          1752 non-null   object
 2   temp                 1752 non-null   float64
 3   feels_like           1752 non-null   float64
 4   temp_min             1752 non-null   float64
 5   temp_max             1752 non-null   float64
 6   pressure             1752 non-null   int64
 7   humidity             1752 non-null   int64
 8   wind_speed           1752 non-null   float64
 9   clouds_all           1752 non-null   int64
 10  weather_description  1752 non-null   object
dtypes: float64(5), int64(4), object(2)
memory usage: 150.7+ KB

In [24]:
df_2023 = pd.merge(energia_2023, meteo_2023, how='outer', on='Data & Hora')

In [25]:
df_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2256 entries, 0 to 2255
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0_x             2256 non-null   int64
 1   Normal (kWh)             2256 non-null   float64
 2   Horário Económico (kWh)  2256 non-null   float64
 3   Autoconsumo (kWh)        2256 non-null   float64
 4   Data & Hora              2256 non-null   object
 5   Unnamed: 0_y             1752 non-null   float64
 6   temp                     1752 non-null   float64
 7   feels_like               1752 non-null   float64
 8   temp_min                 1752 non-null   float64
 9   temp_max                 1752 non-null   float64
 10  pressure                 1752 non-null   float64
 11  humidity                 1752 non-null   float64
 12  wind_speed               1752 non-null   float64
 13  clouds_all               1752 non-null   float64
 14  weather_description      1752 non-null   object
dtypes: float64(12), int64(1), object(2)
memory usage: 264.5+ KB

In [26]:
df_2023.head()

,Unnamed: 0_x,Normal (kWh),Horário Económico (kWh),Autoconsumo (kWh),Data & Hora,Unnamed: 0_y,temp,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,clouds_all,weather_description
0,0,0.0,0.467,0.0,2023-01-01 00:00:00,0.0,12.93,12.76,12.72,13.43,1019.0,95.0,2.02,100.0,moderate rain
1,1,0.0,0.577,0.0,2023-01-01 01:00:00,1.0,13.49,13.38,13.43,13.90,1018.0,95.0,2.18,100.0,moderate rain
2,2,0.0,0.346,0.0,2023-01-01 02:00:00,2.0,13.55,13.44,13.48,14.82,1017.0,95.0,2.88,100.0,moderate rain
3,3,0.0,0.270,0.0,2023-01-01 03:00:00,3.0,13.61,13.51,12.01,14.82,1016.0,95.0,3.63,100.0,moderate rain
4,4,0.0,0.252,0.0,2023-01-01 04:00:00,4.0,13.59,13.49,12.01,14.82,1015.0,95.0,4.58,100.0,moderate rain

In [27]:
df_2023.drop('Unnamed: 0_x', axis=1, inplace=True)
df_2023.drop('Unnamed: 0_y', axis=1, inplace=True)

In [28]:
df_2023.to_csv("_2023.csv", encoding='utf-8')